header {
    height: 6.4rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    background-color: #07223b;
    color: #fff;
    height: 100%;
}

nav .logo-wrapper a {
    font-size: 3rem;
    background-image: linear-gradient(90deg, rgba(240, 91, 97, 1) 0%, rgba(246, 146, 61, 1) 14%, rgba(255, 202, 5, 1) 28%, rgba(138, 198, 80, 1) 42%, rgba(0, 165, 81, 1) 56%, rgba(0, 153, 205, 1) 70%, rgba(41, 131, 197, 1) 84%, rgba(137, 115, 179, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
}

nav .actions-wrapper {
    display: flex;
    gap: 3rem;
}

nav a {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    opacity: 0.8;
}

@media (max-width: 600px)
{
    nav{
        padding: 0 1rem;
    }

    nav .logo-wrapper a {
        font-size: 3rem;
    }

    nav a{
        font-size: 1.5rem;
    }
}

@media (max-width: 380px)
{
    nav{
        padding: 0 0.5rem;
    }

    nav .logo-wrapper a {
        font-size: 2rem;
    }

    nav a{
        font-size: 1.4rem;
    }
}