<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>About</title>
        <link rel="stylesheet" href="public/resources/css/base.css">
        <link rel="stylesheet" href="public/resources/css/header.css">
        <link rel="stylesheet" href="public/resources/css/about.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="logo-wrapper">
                    <a href="/Proiect">EmoF</a>
                </div>
                <div class="actions-wrapper">
                    <a href="/Proiect/register">Register</a>
                    <a href="/Proiect/login">Login</a>
                    <a href="/Proiect/about">About</a>
                    <a href="/Proiect/documentation">Documentation</a>
                </div>
            </nav>
        </header>
        <div class="specs">
            <div>
                <p class="title">What is our mission?</p>
                <p class="title">To help people see, give and receive feedback.</p>
            </div>
        </div>
    </body>
</html>