<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="public/resources/css/base.css">
    <link rel="stylesheet" href="public/resources/css/header.css">
    <link rel="stylesheet" href="public/resources/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EmoF</title>
  </head>
  <body>
    <header>
      <nav>
          <div class="logo-wrapper">
              <a href="/Proiect">EmoF</a>
          </div>
          <div class="actions-wrapper">
              <a href="/Proiect/register">Register</a>
              <a href="/Proiect/login">Login</a>
              <a href="/Proiect/about">About</a>
              <a href="/Proiect/documentation">Documentation</a>
          </div>
      </nav>
  </header>
    <main>
        <section class="main-section">
          <h1 class="title">EmoF</h1>
          <div class="description">
            A new way of receiving and offering feedback for any product or service.
          </div>
          <a class="start-now" href="home">Start now</a>
          <img class="main-image" src="public/resources/images/wheel-of-emotions-no-background.png" alt="EmoF">
        </section>
    </main>
  </body>
</html>